fastapi
python-multipart
uvicorn
dashscope
openai
transformers[torch]
accelerate
scikit-learn
aliyun-python-sdk-core==2.13.12
PyPDF2
SQLAlchemy
chromadb
torch 
torchvision 
torchaudio
opencv-python
segment-anything
langchain
pdfplumber
